In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('learningSet.csv', dtype = {'NOEXCH': str})
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## 1. Check for null values in numerical columns

In [4]:
num_cols = df.select_dtypes(np.number)

In [5]:
nulls = pd.DataFrame(num_cols.isna().sum(), columns=['nan_count'])
nulls = nulls[nulls['nan_count'] > 0]
nulls.sort_values('nan_count', ascending = False)

          nan_count
RDATE_5       95403
RAMNT_5       95403
RAMNT_3       95170
RDATE_3       95170
RDATE_4       95131
RAMNT_4       95131
RDATE_6       94636
RAMNT_6       94636
RDATE_15      88150
RAMNT_15      88150
RAMNT_23      87553
RDATE_23      87553
RDATE_20      87524
RAMNT_20      87524
RAMNT_7       86517
RDATE_7       86517
RDATE_17      86011
RAMNT_17      86011
RDATE_21      85899
RAMNT_21      85899
RDATE_10      84951
RAMNT_10      84951
RDATE_13      83162
RAMNT_13      83162
NUMCHLD       83026
RAMNT_11      80672
RDATE_11      80672
RAMNT_19      79535
RDATE_19      79535
RAMNT_9       78678
RDATE_9       78678
RDATE_24      77674
RAMNT_24      77674
RAMNT_18      75634
RDATE_18      75634
RAMNT_22      74539
RDATE_22      74539
RDATE_8       73940
RAMNT_8       73940
RDATE_14      72095
RAMNT_14      72095
RAMNT_12      69712
RDATE_12      69712
RDATE_16      68418
RAMNT_16      68418
ADATE_15      65477
ADATE_23      56270
MBCOLECT      52914
MBBOOKS       52854
MBGARDEN      52854
MAGFAML       52854
PUBCULIN      52854
MAGFEM        52854
MAGMALE       52854
PUBOPP        52854
PUBGARDN      52854
PUBPHOTO      52854
MBCRAFT       52854
PUBNEWFN      52854
PUBDOITY      52854
PUBHLTH       52854
ADATE_20      50200
WEALTH1       44732
WEALTH2       43823
ADATE_13      40219
ADATE_24      36973
ADATE_21      35212
ADATE_5       33590
ADATE_10      32748
ADATE_17      27650
ADATE_22      25648
ADATE_19      24480
AGE           23665
INCOME        21286
ADATE_18      21263
ADATE_16      20364
ADATE_14      18867
ADATE_9       11245
ADATE_11      10422
TIMELAG        9973
NEXTDATE       9973
ADATE_12       8923
ADATE_7        8874
ADATE_6        3557
ADATE_8        3511
ADATE_4        2191
ADATE_3        1950
MSA             132
ADI             132
DMA             132
CLUSTER2        132

## 2. Clean GEOCODE2, WEALTH1, ADI, DMA and MSA

In [6]:
print(df['WEALTH1'].value_counts().isna().sum())
df['GEOCODE2'].value_counts()

0

A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [7]:
df.loc[(df["GEOCODE2"] == " "), "GEOCODE2"] = 'A'
df['GEOCODE2'].value_counts()

A    34671
B    28505
D    16580
C    15524
Name: GEOCODE2, dtype: int64

In [8]:
# no cleaning necessary. according to data description wealth is bucketed into groups 0-9
print(df['WEALTH1'].value_counts().isna().sum())
df['WEALTH1'].value_counts()

0

9.0    7585
8.0    6793
7.0    6198
6.0    5825
5.0    5280
4.0    4810
3.0    4237
2.0    4085
1.0    3454
0.0    2413
Name: WEALTH1, dtype: int64

#### Columns ADI, DMA and MSA are codes, according to data description

In [9]:
#
print(df['ADI'].value_counts().isna().sum())
df['ADI'].value_counts().sort_index()

0

0.0       843
3.0        29
9.0        68
11.0       25
13.0     7296
15.0     1472
17.0      413
19.0       37
21.0       18
25.0       13
29.0        7
31.0        4
33.0        3
35.0       11
39.0      117
43.0        6
45.0        2
47.0        5
51.0     4622
53.0      422
55.0       66
57.0     2836
59.0     1000
61.0      356
63.0      686
65.0     3765
67.0     1847
69.0      327
71.0      582
73.0      288
75.0     1588
77.0      542
83.0     1305
85.0       64
87.0      231
89.0      345
91.0      290
93.0      230
95.0       37
103.0       1
105.0    2617
107.0    1746
109.0    2054
111.0    1127
113.0     412
115.0     305
117.0     220
119.0     278
121.0      13
123.0       8
127.0    1651
129.0     955
131.0    1978
133.0     554
135.0       7
139.0       2
140.0       3
141.0       5
143.0       4
145.0       2
147.0       1
149.0       9
151.0       8
153.0       4
157.0     996
159.0      68
161.0       1
165.0     181
173.0     366
175.0     365
177.0     393
179.0     656
181.0     924
183.0      69
185.0     358
187.0     411
195.0      48
197.0    2075
199.0     413
201.0    1772
203.0     558
205.0     320
207.0     354
209.0     669
211.0     385
213.0    1073
215.0     602
217.0     255
219.0     243
221.0     576
227.0     143
229.0     197
231.0      64
233.0    1676
235.0     348
237.0     308
241.0    1573
243.0     392
245.0     597
247.0     240
249.0     301
251.0     116
253.0     164
255.0      72
257.0     125
261.0       2
263.0     745
265.0      83
269.0     611
271.0     807
273.0      35
275.0    1717
277.0     548
279.0    1075
281.0     863
283.0     112
285.0       7
287.0       2
291.0     634
293.0      40
295.0     125
297.0      40
299.0      93
301.0     488
303.0     409
305.0      46
307.0     573
313.0     210
315.0     585
317.0      99
319.0     506
321.0     406
323.0     263
325.0     259
327.0     217
329.0    1647
331.0     274
335.0     696
337.0     613
339.0     330
342.0     140
345.0       5
351.0    1193
353.0     319
355.0     251
357.0       3
359.0     247
361.0     388
363.0     138
367.0     813
371.0     269
373.0     305
375.0      56
377.0      73
379.0      81
381.0     292
383.0     501
385.0      25
389.0     239
391.0     205
393.0     253
403.0     211
405.0     223
409.0     215
412.0     250
413.0     246
415.0     119
417.0     142
419.0     136
421.0     267
423.0     269
425.0     337
427.0     472
429.0     175
431.0      85
433.0     205
435.0     192
437.0     141
439.0     152
441.0     128
443.0      58
445.0     226
448.0     185
449.0      45
451.0     392
455.0     645
457.0     146
459.0     324
462.0     163
465.0      78
467.0     122
469.0     126
471.0      68
473.0     120
577.0     773
591.0      71
601.0       1
603.0      49
613.0      91
621.0     118
625.0      63
627.0      28
645.0     257
651.0       1
Name: ADI, dtype: int64

In [14]:
# most values in 500-800 range, with the exception of 0 (187 rows)
print(df['DMA'].value_counts().isna().sum())
df['DMA'].value_counts().sort_index()

0

0.0       187
500.0       8
501.0      68
502.0       2
503.0     245
504.0      25
505.0    2839
506.0      29
507.0     343
508.0       7
509.0     290
510.0      11
511.0      38
512.0      18
513.0     661
514.0       7
515.0     244
516.0       1
517.0    1085
518.0     863
519.0     269
520.0     266
521.0       5
522.0     215
523.0       8
524.0    2079
525.0     135
527.0    1316
528.0    1651
529.0     641
530.0     247
531.0     245
532.0       9
533.0      13
534.0    1647
535.0      13
536.0       4
537.0       3
538.0       2
539.0    2222
540.0     414
541.0     397
542.0      37
543.0       2
544.0     107
545.0     324
546.0     387
547.0      66
548.0     955
549.0       4
550.0     204
551.0     356
552.0       1
553.0     140
554.0       1
555.0       5
556.0       8
557.0     588
560.0    1175
561.0     690
563.0    1000
564.0     125
565.0       3
566.0       6
567.0    1073
569.0       1
570.0     312
571.0     567
573.0       5
574.0       3
575.0     436
577.0       4
581.0     227
582.0      64
583.0      28
584.0       1
588.0     422
592.0     118
598.0       2
600.0     199
602.0    4632
603.0     175
604.0     198
605.0     205
606.0     113
609.0    1583
610.0     278
611.0     181
612.0     387
613.0    1717
616.0     993
617.0    1127
618.0    1772
619.0     481
620.0      64
622.0     597
623.0    2009
624.0     202
625.0     320
626.0      36
627.0     214
628.0     217
630.0     564
631.0      58
632.0     424
633.0     150
634.0     229
635.0     547
636.0     192
637.0     363
638.0      76
639.0      66
640.0     656
641.0     788
642.0     176
643.0     104
644.0      72
646.0      49
647.0      67
648.0     512
649.0     363
650.0     754
651.0     141
652.0     488
656.0     148
657.0     128
658.0     542
659.0     917
661.0      58
662.0     128
669.0     435
670.0     259
671.0     611
673.0     181
675.0     363
676.0     286
678.0     565
679.0     394
682.0     384
686.0     501
687.0     156
691.0     337
692.0     240
693.0     511
698.0     250
702.0     216
705.0     302
709.0     283
710.0      81
711.0      73
716.0     301
717.0     157
718.0     305
722.0     273
724.0     253
725.0     240
734.0      71
736.0      61
737.0      80
740.0      23
743.0     169
744.0     449
745.0      38
746.0     138
749.0      35
751.0    1566
752.0     403
753.0    1780
754.0      91
755.0      93
756.0     146
757.0     221
758.0     108
759.0      87
760.0      56
762.0     142
764.0     124
765.0     271
766.0      40
767.0      80
770.0     635
771.0     117
773.0      97
789.0     548
790.0     813
798.0       6
800.0     288
801.0     386
802.0     122
803.0    7296
804.0     773
807.0    3765
810.0     330
811.0     320
813.0     308
819.0    2588
820.0    1638
821.0      71
825.0    1472
828.0     327
839.0     645
855.0     413
862.0    1847
866.0     582
868.0     345
881.0     640
Name: DMA, dtype: int64

In [15]:
# large amount of 0 values (21k in 95k total), indicating they could be nulls transformed into zeros
print(df['MSA'].value_counts().isna().sum())
df['MSA'].value_counts()

0

0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
6780.0     1525
5945.0     1500
7320.0     1472
7600.0     1457
3360.0     1414
6200.0     1409
8280.0     1378
7040.0     1360
5775.0     1255
1920.0     1217
5120.0     1195
6440.0     1076
7360.0     1046
2080.0      993
7400.0      929
6920.0      894
5000.0      824
3760.0      817
5960.0      791
3480.0      790
2680.0      771
5080.0      745
4120.0      722
1520.0      697
3120.0      691
8960.0      644
7240.0      619
6640.0      592
2800.0      584
3000.0      560
3600.0      543
5360.0      523
5880.0      507
640.0       487
5560.0      478
8520.0      474
3160.0      465
4920.0      456
4520.0      444
7510.0      427
8735.0      415
8200.0      395
7160.0      389
1000.0      387
3840.0      382
8560.0      363
2960.0      354
200.0       353
3320.0      341
2020.0      339
7500.0      334
2840.0      334
5920.0      333
440.0       311
8720.0      298
680.0       288
4900.0      286
2700.0      270
1720.0      261
3720.0      255
1760.0      250
3980.0      250
2640.0      247
9040.0      246
7480.0      241
1560.0      240
760.0       235
7840.0      233
4040.0      231
6120.0      227
6880.0      226
1440.0      223
8120.0      222
600.0       213
2400.0      211
4400.0      208
2710.0      208
2760.0      208
2320.0      206
840.0       203
4720.0      201
3660.0      198
5790.0      198
7080.0      195
4280.0      191
6080.0      187
460.0       186
1960.0      183
6960.0      183
5160.0      182
1640.0      177
5170.0      177
7120.0      175
7460.0      172
6720.0      169
2120.0      168
3440.0      164
3560.0      164
1080.0      161
2560.0      158
480.0       157
2440.0      157
7520.0      156
7680.0      156
2240.0      153
4680.0      153
5240.0      153
1150.0      152
920.0       151
3290.0      150
7920.0      146
1880.0      144
5345.0      143
1620.0      143
9200.0      140
3810.0      139
2580.0      136
1125.0      133
4890.0      132
7485.0      130
5330.0      128
8780.0      127
5910.0      127
1800.0      125
3880.0      125
6580.0      124
6690.0      123
7800.0      123
6600.0      122
2920.0      121
380.0       120
6740.0      112
7880.0      110
8240.0      108
3080.0      105
4880.0      101
5800.0      101
870.0        98
1400.0       98
7490.0       98
1360.0       97
2670.0       97
3520.0       96
2750.0       96
1145.0       92
2900.0       91
4600.0       90
9260.0       89
3960.0       87
860.0        86
3800.0       84
3920.0       83
320.0        82
1240.0       82
5200.0       82
8320.0       81
4360.0       80
4420.0       79
6015.0       79
8640.0       78
8440.0       78
2720.0       78
6895.0       77
2995.0       77
9270.0       76
3710.0       74
7720.0       74
4940.0       73
1040.0       72
1660.0       72
880.0        72
6560.0       71
8800.0       70
9340.0       70
3060.0       68
2620.0       68
2330.0       66
9360.0       66
2520.0       66
3620.0       65
6980.0       64
8600.0       64
3400.0       63
2040.0       63
4100.0       63
2180.0       61
3870.0       60
2290.0       59
3150.0       59
1740.0       59
4200.0       59
3850.0       58
9080.0       57
3740.0       57
6520.0       56
500.0        55
6820.0       55
1580.0       55
2655.0       55
8940.0       54
2980.0       53
3605.0       53
1020.0       53
40.0         52
7000.0       51
8920.0       51
7760.0       49
450.0        49
5280.0       49
220.0        48
120.0        48
3350.0       47
5990.0       47
8360.0       47
7640.0       45
3500.0       44
1260.0       44
2650.0       44
7200.0       43
3580.0       43
1010.0       42
7620.0       41
2030.0       41
3040.0       41
6660.0       39
2200.0       38
8140.0       37
4150.0       36
8750.0       36
8840.0       36
4080.0       34
2985.0       33
1350.0       32
6240.0       32
2880.0       31
3285.0       29
1123.0       26
5720.0       25
5600.0       24
2340.0       22
6340.0       22
3700.0       21
720.0        17
6160.0       17
5483.0       13
5380.0       11
1840.0       11
2000.0        9
6280.0        7
1680.0        7
6760.0        6
5190.0        6
160.0         6
3283.0        5
1280.0        5
5640.0        5
560.0         4
9160.0        4
8400.0        4
8160.0        3
6483.0        3
2281.0        3
875.0         3
3240.0        3
5523.0        3
7560.0        3
6403.0        3
4000.0        2
733.0         2
6840.0        2
1303.0        2
7610.0        2
9320.0        2
6800.0        2
3680.0        2
5015.0        2
80.0          2
960.0         1
1480.0        1
1950.0        1
6323.0        1
5660.0        1
3180.0        1
1320.0        1
8003.0        1
1540.0        1
2975.0        1
9000.0        1
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, dtype: int64